<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515296253333-i1g3peuq928uo9cbkhdfvp1tgfpl6l1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515296253333-i1g3peuq928uo9cbkhdfvp1tgfpl6l1e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>515296253333-1a38uql12kfn20lnnmbq4ct7q11ufgve.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDkwlSUTcOvet1UG_taDN4dbGwFRi3YHjY</string>
	<key>GCM_SENDER_ID</key>
	<string>515296253333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cityvariety.ismartlogin</string>
	<key>PROJECT_ID</key>
	<string>lib-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>lib-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515296253333:ios:b9a2bda8297b5634de129c</string>
	<key>DATABASE_URL</key>
	<string>https://lib-flutter.firebaseio.com</string>
</dict>
</plist>